<div class="container">
	<div class="card">
		<div class="card-header border-0">
			<h5 class="card-title pb-3">Weather Information</h5>
			<div class="d-flex justify-content-center align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1 class="card-title">{{ weather_data.temp }}&deg;</h1>
							<p class="card-text pt-2">
								{{ weather_data.temp_min }}&deg;C - {{ weather_data.temp_max }}&deg;C
							</p>
						</div>
						<div class="col-md-6">
							<p>{{ weather_data.city_name }}<small>({{ weather_data.country }})</small></p>
							<div><small class="text-muted">Longitude: {{ weather_data.lon }}</small></div>
							<div><small class="text-muted">Latitude: {{ weather_data.lat }}</small></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-body">
			<ul class="list-group list-group-flush py-3">
				<li class="list-group-item">
					<strong>Weather: </strong>
					<span>
						{{ weather_data.weather }}({{ weather_data.weather_desc }})
					</span>
				</li>
				<li class="list-group-item"><strong>Pressure: </strong><span>{{ weather_data.pressure }}</span></li>
				<li class="list-group-item"><strong>Humidity: </strong><span>{{ weather_data.humidity }}</span></li>
				<li class="list-group-item"><strong>Wind Speed: </strong><span>{{ weather_data.wind_speed }}</span></li>
			</ul>
		</div>
	</div>
</div>